
/* global */

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navigation */

.nav {
    background-color: lavender;
    height: 30px;
    width: 100%;
    margin: 0 auto 0;
    display: inline-block;
}

.navlink {
    color: rgb(97, 44, 97);
    font-size: 18px;
    margin: 10px auto 10px;
    padding: 10px;
    vertical-align: middle;
}
.navlink a:hover {
    color: goldenrod;
    transition: all 0.5s ease-out;
}

.navlink a:visited,
.navlink a:link {
  color: goldenrod;
  transition: all 0.3s ease-out;
}

/* main/top */

section {
    display: flex;
}

h1 {
    font-size: 300%;
}

#loginForm, #registerForm {
    visibility: hidden;
    display: block;
    text-align: center;
}

.landingdiv {
    /* background-color: lightgray; */
    flex: 3;
    margin: 20px;
    padding: 10px;
}

#loginRegister {
    display: block;
    text-align: center;
}

.login {
    margin-top: 40px;
    padding: 1% 15%;
    font-size: 36px;
    background-color: aquamarine;
}

.register {
    margin-top: 10px;
    padding: 1% 5%;
    font-size: 36px;
    background-color: aquamarine;
}

.loginHeard {
    transform: translate(-1000px, 0);
    transition: 1s;
}

.registerHeard {
    transform: translate(1000px, 0);
    transition: 1s;
}

#loginBumperHeard {
    display: block;
    text-align: center;
    transform: translate(-300px, 0);
    transition: .8s;
}

#registerBumperHeard {
    display: block;
    text-align: center;
    transform: translate(300px, 0);
    transition: .8s;
}

/* main/bottom */

.frontmiddle{
    visibility: hidden;
    text-align: center;
}

.frontmiddleheard {
    text-align: center;
    transform: translate(0, -125px);
    transition: ease-in .7s;
}

/* form */

