
/* global */

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navigation */

.nav {
    background-color: lavender;
    height: 30px;
    width: 100%;
    margin: 0 auto 0;
    display: inline-block;
}

.navlink {
    color: rgb(97, 44, 97);
    font-size: 18px;
    margin: 10px auto 10px;
    padding: 10px;
    vertical-align: middle;
}
.navlink a:hover {
    color: goldenrod;
    transition: all 0.5s ease-out;
}

.navlink a:visited,
.navlink a:link {
  color: goldenrod;
  transition: all 0.3s ease-out;
}

/* main/top */

section {
    display: flex;
}

h1 {
    font-size: 300%;
}

#loginForm, #registerForm {
    visibility: hidden;
    display: block;
    text-align: center;
}

.login {
    margin-top: 40px;
    padding: 2% 15%;
    font-size: 36px;
    background-color: aquamarine;
}

.register {
    margin-top: 10px;
    padding: 1% 5%;
    font-size: 36px;
    background-color: black;
    color: aquamarine;
}

.landingDiv {
    flex: 3;
    margin: 20px;
    padding: 10px;
}

#visibleDiv {
    display: block;
    text-align: center;
}

#loginDiv, #registerDiv {
    flex: 3;
    margin: 20px;
    padding: 10px;
    display: block;
    text-align: center;
}
