
/* global */

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navigation */

.nav {
    background-color: lavender;
    height: 30px;
    width: 100%;
    margin: 0 auto 0;
    display: inline-block;
}

.navlink {
    color: rgb(97, 44, 97);
    font-size: 18px;
    margin: 10px auto 10px;
    padding: 10px;
    vertical-align: middle;
}
.navlink a:hover {
    color: goldenrod;
    transition: all 0.5s ease-out;
}

.navlink a:visited,
.navlink a:link {
  color: goldenrod;
  transition: all 0.3s ease-out;
}

/* main/top */

section {
    display: flex;
}

h1 {
    font-size: 300%;
}

.bumperdiv {
    visibility: hidden;
    flex: 3;
    margin: 20px;
    padding: 10px;
}

.loginRegister {
    display: block;
}

.login, .register {
    background-color: aquamarine;
    text-align: center; 
}

.loginHeard {
    background-color: aquamarine;
    text-align: center;
    transform: translate(0, -500px);
    transition: .9s;
}

.heard {
    transform: translate(0, -500px);
    color: white;
    transition: 1.2s;
}

/* main/bottom */

.frontmiddle{
    visibility: hidden;
    text-align: center;
}

.frontmiddleheard {
    text-align: center;
    transform: translate(0, -275px);
    transition: ease-in 1s;
}

/* form */

